{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
  <h2 class="text-center mb-5 text-primary fw-bold">Create a New Post</h2>

  <!-- Form to Create Post -->
  <form method="post" enctype="multipart/form-data" class="card p-4 shadow-sm" id="postForm">
    {% csrf_token %}
    
    <div class="mb-4">
      <label for="id_title" class="form-label"><i class="fas fa-heading"></i> Title</label>
      {{ form.title }}
    </div>

    <div class="mb-4">
      <label for="id_content" class="form-label"><i class="fas fa-align-left"></i> Content</label>
      {{ form.content }}
    </div>

    <div class="mb-4">
      <label for="id_categories" class="form-label"><i class="fas fa-tags"></i> Categories</label>
      {{ form.categories }}
    </div>

    <div class="mb-4">
      <label for="id_photo" class="form-label"><i class="fas fa-image"></i> Photo</label>
      {{ form.photo }}
    </div>

    <button type="submit" class="btn btn-primary w-100">Create Post</button>
  </form>
</div>

<!-- TinyMCE Integration -->
<script src="https://cdn.tiny.cloud/1/nb9wx71qqrxl92bz997hu86loe17fsiz8w5s62x0b4jew7fz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: 'textarea',  // Change this value according to your HTML
    plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    toolbar_mode: 'floating',
    toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
    setup: function (editor) {
      editor.on('change', function () {
        editor.save();
      });
    }
  });

  document.getElementById('postForm').addEventListener('submit', function() {
    tinymce.triggerSave();
  });
</script>
{% endblock %}